.container {
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
}

.box-lt-treeview{
    position: relative;
}

.box-lt-treeview button{
    padding:15px;
    border-radius: unset;
    background-color: #4ba6c9;
    border: unset;
    color: white;
    cursor: pointer;
}

.box-lt-treeview .list-root {
    background-color: #9c9c9c;
    border: 1px solid;
    width: 250px;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 89px;
    color: white;
}

.box-lt-treeview .list-root ul{
    list-style: none;
    padding: unset;
    margin: unset;
}

.box-lt-treeview .list-root li:nth-child(odd){
    background-color: darkgray;
}

.box-lt-treeview .list-root li {
    text-transform: capitalize;
    padding: 15px;
    cursor: pointer;
}
.box-lt-treeview .list-root li:hover {
    background-color: #f9cd0e
}

.list-item
{
    background-color: #9c9c9c;
    border: 1px solid;
    width: 250px;
    z-index: 1000;
    position: absolute;
    top: 52px;
    left: 130px;
    color: white;
}

.list-item ul {
    list-style: none;
    padding: unset;
}

.list-item li:nth-child(odd){
    background-color: darkgray;
}

.list-item li {
    text-transform: capitalize;
    cursor: pointer;
}
.list-item li:hover {
    background-color: #f9cd0e
}

.treeview {
    list-style: none;
}

.coll{
    padding: 10px;
    cursor: pointer;
}

.list-tree{
    list-style: none;
    margin-top : 8px;
}

.treeview li {
    padding: 15px;
    position: relative;
}

.plus{
    padding: 7px 15px;
    border: unset;
    background-color: orange;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.erase{
    padding: 7px 15px;
    border: unset;
    background-color: #da3522;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.treeview a {
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    text-transform: capitalize;
}

.control{
    display: inline-block;
    padding: 5px;
    background-color: #e9e9e9;
}